<a href="https://colab.research.google.com/github/LinaSachuk/The-Complete-Python-and-Machine-Learning-for-Financial-Analysis/blob/master/1_Python_101_Variables_Assignment%2C_Math_Ops%2C_Precedence%2C_and_Print_Get_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. VARIABLES ASSIGNMENT

hello
 **bold text**

In [34]:
# Define a variable named "portfolio_1" and assign a number (integer) to it
portfolio_1 = 5000

In [35]:
# Let's view "portfolio_1"
portfolio_1

5000

In [28]:
# Define a variable named "portfolio_2" and assign a number (float) to it
portfolio_2 = 2000.5

In [29]:
# Let's view "portfolio_2"
portfolio_2

2000.5

In [30]:
# Let's overwrite "portfolio_2" (assume your portfolio value increased)
portfolio_2 =  3000.5

In [31]:
# Notice that "portfolio_2" will only contain the most recent value
portfolio_2

3000.5

In [32]:
# Get the type of "portfolio_1" which is integer
# integer is a whole number (no decimals) that could be positive or negative
type(portfolio_1)

int

In [33]:
# Get the type of "portfolio_2" which is float
# Float are real numbers with a decimal point dividing the integer and fractional parts
type(portfolio_2)

float

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [36]:
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

3530

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [37]:
AAPL = 112
AAPL = 115.3
type(AAPL)

float

# 2. MATH OPERATIONS

In [38]:
# Define a variable named AAPL and initialize it with 5 indicating that we own 5 stocks
# Let's assume that we bought an additional stock so now we have 6 stocks instead of 5 
# We can increment AAPL by 1 stock as follows:
AAPL = 5
AAPL += 1
AAPL

6

In [39]:
# Alternatively, we can increment the variable AAPL by 1 as follows:
AAPL

6

In [40]:
# Let's assume that the price of AAPL stock is $260 and we currently have 5 AAPL stocks in our portfolio
# We can calculate the total portfolio value (account balance) as follows:
AAPL_count = 5
AAPL_price = 260
account_balance = AAPL_count * AAPL_price
account_balance

1300

In [41]:
# Let's assume you have $20000 USD in our account
# We want to buy AMZN stocks using the total amount 
# AMZN stock is priced at $3116 each
account_balance = 20000
account_balance

20000

In [42]:
# Divide the account balance by Amazon stock price and place the answer in units
AMZN_price = 3116
units = account_balance/ AMZN_price
units

6.418485237483954

**MINI CHALLENGE #3:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [43]:
price_GOOG = 1500
total = 15 * price_GOOG
total

22500

**MINI CHALLENGE #4:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [44]:
price_GOOG_1 = 260
price_GOOG_2 = 280

price_diff = price_GOOG_2 - price_GOOG_1
percentage_change = price_diff/price_GOOG_1 * 100
percentage_change

7.6923076923076925

# 3. ORDER OF OPERATIONS (PRECEDENCE)

In [45]:
# add 3 and 4 and then multiply the answer by 5
# Note that parantheses have the highest precedence

result = (3 + 4) * 5
result

35

In [46]:
# Multiplication has higher precedence compared to addition

result = 3 + 4 * 5
result

23

In [47]:
# Division has higher precedence compared to addition

result = 3 + 4 / 2
result

5.0

In [48]:
result = 3 + 4 // 2
result

5

**MINI CHALLENGE #5:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
price_AAPL_old = 150
price_AAPL_new = 170

num_shares = 15
profit = (price_AAPL_new - price_AAPL_old ) * num_shares
profit

**MINI CHALLENGE #6:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
# absolute function
z = abs(x - y)*(x + y)
z

# 4. PRINT OPERATION

In [50]:
# Print function is used to print elements on the screen
# Define a string x 
# A string in Python is a sequence of characters
# String in python are surrounded by single or double quotation marks

x = 'Hello word!'
print(x)

Hello word!

In [51]:
# Obtain the data type for 'x'
print(type(x))

<class 'str'>

In [52]:
# Print x with f-string
print(f"That is how we  can print {x} ")

That is how we  can print Hello word!

In [54]:
# Define a string and put 'Apple Inc.' in it

company_name = 'Apple Inc.'

In [55]:
# The format() method formats the specified value and insert it in the placeholder. 
# The placeholder is defined using curly braces: {}

print('Ticker name for {} is AAPL'.format(company_name))

Ticker name for Apple Inc. is AAPL

In [ ]:
shares =  30

In [ ]:
# You can place two or more placeholders with print function 

print( 'I own {} shares of {}'.format(shares, company_name))
print(f"I own {shares} shares of {company_name}")

**MINI CHALLENGE #7:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print(f"I own {shares} shares of {company_name} ({ticker})")

# 5. GET USER INPUT

In [ ]:
# input is a built-in function in python
# Get bank client name as an input and print it out on the screen 

name = input('Enter your name:')
name

In [ ]:
# Obtain bank client data such as name, age and assets and print them all out on the screen

age = input('Enter your age:')
networth = input('Enter your networth:')
print(f"Your name is {name}, age is {age},  and your networth is ${networth}")

In [ ]:
# Obtain user inputs, perform mathematical operation, and print the results 
# Note: Are you getting an error? Move to the next code cell 

x = input('Enter the price of AAPL stock today: ')
y = input('Enter the number of AAPL stocks you want to buy: ')
print(f"Total funds required to buy {y} shares of AAPL stocks at {x} dollars is {x * y}")

In [ ]:
# Convert from string datatype to integer datatype prior to performing addition
print(f"Total funds required to buy {y} shares of AAPL stocks at {x} dollars is {int(x)*int(y)}")

**MINI CHALLENGE #8:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print(f"Total funds required to buy {y} shares of {z} stock at {x} dollars is {x * y}")

# EXCELLENT JOB

# MINI CHALLENGES SOLUTIONS

**MINI CHALLENGE #1:**
- **We defined a variable AMZN (Ticker symbol for Amazon stock) and we assigned these 3 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN
```

In [ ]:
# The output of this code is 3530
# Initially we put 3324 in AMZN, then we overwrite it by placing 3400 in AMZN, and then 3530 in AMZN
AMZN = 3324
AMZN = 3400
AMZN = 3530
AMZN

**MINI CHALLENGE #2:**
- **We defined a variable AAPL (Ticker symbol for Apple stock) and we assigned these 2 values listed below to it. Without executing any code cells, what will these lines of code generate?**
- **Verify your answer by executing the code cells** 



```
AAPL = 112
AAPL = 115.3
type(AAPL)
```

In [ ]:
AAPL = 112
AAPL = 115.3
type(AAPL)

**MINI CHALLENGE #3 SOLUTION:** 
- **Write a code that calculates the total value of a portfolio assuming that you own 15 Google stocks (Sticker Symbol: GOOG) priced at 1500 each**

In [ ]:
price  = 1500
x  = 15
amount = x * price
amount

**MINI CHALLENGE #4 SOLUTION:**
- **Write a code that takes in Google (GOOG) stock prices at two days and calculate the return:**
  - **GOOG price on day 1 = \$260** 
  - **GOOG price on day 2 = \$280**

In [ ]:
GOOG_price_1 = 260
GOOG_price_2 = 280

price_diff = GOOG_price_2 - GOOG_price_1
percentage_change = price_diff / GOOG_price_1 * 100

percentage_change

**MINI CHALLENGE #5 SOLUTION:**
- **Assume that you own 15 shares of AAPL stock priced at \$150 a share. Apple announced the launch of 5 new products with exceptional features so the stock price increased to $170 a share. Calculate the total profit.**

In [ ]:
AAPL_new = 170
AAPL_old = 150
num_shares = 15
profit = (AAPL_new - AAPL_old) * num_shares   
profit

**MINI CHALLENGE #6 SOLUTION:** 
- **Write a code that performs the following mathematical operation: z = |x − y| * (x + y)**

In [ ]:
x = 4
y = 2
z = abs(x-y) * (x+y)

**MINI CHALLENGE #7 SOLUTION:**
- **Write a code that print out the above statement along with AAPL ticker**
- **i.e.: I own 30 shares of Apple Inc.(AAPL)**

In [ ]:
ticker = 'AAPL'
print("I own {} shares of {}({})".format(shares, company_name, ticker))

**MINI CHALLENGE #8 SOLUTION:** 
- **Write a code that takes in the name of the stock, price at which it is selling, the number of stocks that you want to own and prints out the total funds required to buy this stock. Find a sample expected output below:**

  - Enter the price of the stock you want to buy: 3000  
  - Enter the number of stocks that you want to buy: 5
  - Enter the name of the stock that you want to buy: AMZN
  - The total funds required to buy 5 number of AMZN stocks at 3000 is 15000

In [ ]:
x = input("Enter the price of the stock you want to buy: ")
x = int(x)
y = input("Enter the number of stocks that you want to buy: ")
y = int(y)
z = input("Enter the name of the stock that you want to buy: ")
print('The total funds required to buy {} number of {} stocks at {} is {}'.format(y,z,x, x*y))