<a href="https://colab.research.google.com/github/LinaSachuk/The-Complete-Python-and-Machine-Learning-for-Financial-Analysis/blob/master/2_Python_101_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BOOLEANS

In [1]:
# Boolean values can be represented as one of two constant objects "False" and "True". 
# Booleans behave like integers 0 and 1.

True

True

In [2]:
False

False

In [3]:
stock_1_price = 100
stock_2_price = 200

print(stock_1_price == stock_2_price)

False

**MINI CHALLENGE #1:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [4]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

# 2. LIST

In [5]:
# A list is a collection which is ordered and changeable. 
# List allows duplicate members.

my_list = [2, 4, 5]
my_list

[2, 4, 5]

In [6]:
# Obtain the datatype

type(my_list)

list

In [7]:
# list with mixed datatypes (for example you can have strings and integers in one list)

my_list = [2, 'GOOG', 5]
my_list

[2, 'GOOG', 5]

In [8]:
# You can have a list inside another list (nested list)

my_list = [4, 5 , [5,6,7]]
my_list

[4, 5, [5, 6, 7]]

In [9]:
# Access specific elements in the list with Indexing
# Note that the first element in the list has an index of 0 (little confusing but you'll get used to it!)

my_list = [5, 6, 'GOOG', 9]
my_list[0]

5

In [10]:
# indexing for nested lists

my_list = [4, 5 , [5,6,7, 'AAPL']]
my_list[2]

[5, 6, 7, 'AAPL']

In [11]:
my_list[2][3]

'AAPL'

In [12]:
# Negative Indexing

my_list[-1]

[5, 6, 7, 'AAPL']

In [13]:
# List Slicing (getting more than one element from a list) 

my_list = [2, 5, 7, 'GOOG', 'SP500', "AMZN", 15]

# obtain elements starting from index 3 up to and not including element with index 6  

my_list[3:6]

['GOOG', 'SP500', 'AMZN']

In [14]:
# Obtain elements starting from index 3 to end

my_list[3:]

['GOOG', 'SP500', 'AMZN', 15]

In [15]:
# All elements start to end

my_list[:]

[2, 5, 7, 'GOOG', 'SP500', 'AMZN', 15]

In [16]:
# Obtain the length of the list (how many elements in the list) 

len(my_list)

7

**MINI CHALLENGE #2:**
- **Print the first, second and last element in the list below**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [17]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]

print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

**MINI CHALLENGE #3:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [18]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

print(my_list[1][1])
print(my_list[1])
print(my_list[-1])
print(my_list[len(my_list) - 1])

GOOG
['AAPL', 'GOOG', 'TSLA']
T
T

# 3. DICTIONARY

In [19]:
# my_dict = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
# Dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its corresponding value.
# Keys are unique within a dictionary while values may not be. 
# List elements are accessed by their position in the list, via indexing while Dictionary elements are accessed via keys

# Define a dictionary using key-value pairs

my_dict = {
    'key1': 'value1',
    'key2': 'value2',
    'key3': 'value3'
}

In [20]:
# View the dictionary

my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [21]:
# Check the data type

type(my_dict)

dict

In [22]:
# Access specific element in the dictionary using a specific key (ex: Key2)

my_dict['key2']

'value2'

In [23]:
# Define a dictionary for a bank client listing all his/her assets! 

client_assets = {'Real estate': 150000,
                 'stocks': 10000,
                 'savings': 200000}

print(client_assets)

{'Real estate': 150000, 'stocks': 10000, 'savings': 200000}

In [24]:
# Access elements in the dictionary

client_assets['stocks']

10000

In [25]:
# Add a new item to an existing dictionary

client_assets['Crypto'] = 1500
client_assets

{'Crypto': 1500, 'Real estate': 150000, 'savings': 200000, 'stocks': 10000}

In [26]:
# remove an item from the dictionary

del client_assets['savings']
client_assets

{'Crypto': 1500, 'Real estate': 150000, 'stocks': 10000}

In [27]:
# delete the entire dictionary
# Note that you cannot print it out again because the entire dictionary has been deleted

del client_assets

**MINI CHALLENGE #4:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [28]:
stocks = {'SP500': 3000,
          'AAPL': 400,
          'TSLA': 2200}
stocks

{'AAPL': 400, 'SP500': 3000, 'TSLA': 2200}

# 4. STRINGS

In [55]:
# A string in Python is a sequence of characters
# String can be enclosed by either double or single quotes

my_string = 'Hello everyone and welcome to Python for Finance course'
my_string

'Hello everyone and welcome to Python for Finance course'

In [56]:
# Obtain the datatype

type(my_string)

str

In [59]:
# Combining two strings together (Let's combine the first and last name of a bank's client)

first_name ='Laila'
last_name = 'Aly'
full_name= first_name + last_name
full_name

'LailaAly'

In [60]:
# You can combine both strings together and add spaces in between

full_name= first_name + ' ' + last_name
full_name

'Laila Aly'

In [61]:
# Methods on strings 
# upper will be used to convert the string into upper case

my_string.upper()

'HELLO EVERYONE AND WELCOME TO PYTHON FOR FINANCE COURSE'

In [63]:
# Split us used to divide up the string into words 
# The output from split is a list

x = my_string.split()
x

['Hello',
 'everyone',
 'and',
 'welcome',
 'to',
 'Python',
 'for',
 'Finance',
 'course']

In [64]:
# Let's check that the datatype is list!

type(x)

list

In [65]:
# you can index any element in the list using indexing

x[1]

'everyone'

In [66]:
# you can specify which letter could be choosed to perform the split

my_string = 'laila.aly@gmail.com'
z = my_string.split('@')
z

['laila.aly', 'gmail.com']

**MINI CHALLENGE #5:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [69]:
feedback = str(input('Enter your feedback regarding the service.'))
feedback_list = feedback.split(' ')
feedback_list

Enter your feedback regarding the service.It was a great service. You guys exceeded my expectations.

['It',
 'was',
 'a',
 'great',
 'service.',
 'You',
 'guys',
 'exceeded',
 'my',
 'expectations.']

**MINI CHALLENGE #6:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [1]:
user_email = str(input('Enter your e-mail address.'))
user_email_list = user_email.split('.')
print(user_email_list[0])

tomaskhoag@icloud

# 5. TUPLES

In [71]:
# A tuple is a sequence of immutable Python objects. 
# Tuples are sequences, just like lists. 
# The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

tuple_1 =('GOOG', "AAPL", 10, 29)
tuple_2 = (345, 560, 2100)

In [73]:
type(tuple_1)

tuple

In [74]:
type(tuple_2)

tuple

In [75]:
# Accessing elements in a tuple

tuple_1[1]

'AAPL'

In [76]:
# Tuple slicing

tuple_1[1:3]

('AAPL', 10)

In [77]:
# Changing a vlue of a tuple does not work! 
# 'tuple' object does not support item assignment

tuple_1[1] = 10

TypeError: ignored

In [78]:
# Create a New Tuple from existing Tuples

tuple_3 = tuple_1 + tuple_2
tuple_3

('GOOG', 'AAPL', 10, 29, 345, 560, 2100)

**MINI CHALLENGE #7:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [81]:
user = ("Laila", 'Aly', 25, 1000)
print(user)
print(type(user))
print(len(user))

('Laila', 'Aly', 25, 1000)
<class 'tuple'>
4

# 6. SETS

In [82]:
# A set is an unordered collection of items. Every element is unique (no duplicates).
# A set is created by placing all the items (elements) inside curly braces {}, separated by comma or by using the built-in function set().
# set of integers

my_set = {'GOOG', "AAPL", "T"}
my_set

{'AAPL', 'GOOG', 'T'}

In [84]:
# set do not have duplicates

my_set = {'GOOG', "AAPL", "T", "AAPL", "T"}
my_set

{'AAPL', 'GOOG', 'T'}

**MINI CHALLENGE #8:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'AAPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [89]:
my_list = ['GOOG', 'AAPL', 'T','TSLA','T','AAPL', 5, 6,5]
my_list_no_dublicates = list(set(my_list))
my_list_no_dublicates

[5, 6, 'TSLA', 'T', 'AAPL', 'GOOG']

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:** 
- **What will this code generate?**
```
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)
```

In [45]:
stock_1_price = 20
stock_2_price = 30
print((stock_1_price < stock_2_price))
print(stock_1_price == stock_2_price)

True
False

**MINI CHALLENGE #2 SOLUTION:**
- **Print the first, second and last element in the list**
- **Print all elements in the list, first 3 elements, and last three elements**

```
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
```

In [3]:
stocks = ["GOOG", "TSLA", "AAPL", "T", "SP500", "BTC", "EUR/USD"]
print(stocks[0])
print(stocks[1])
print(stocks[-1])

GOOG
TSLA
EUR/USD

In [5]:
print(stocks[:])
print(stocks[0:3])
print(stocks[4:])

['GOOG', 'TSLA', 'AAPL', 'T', 'SP500', 'BTC', 'EUR/USD']
['GOOG', 'TSLA', 'AAPL']
['SP500', 'BTC', 'EUR/USD']

**MINI CHALLENGE #3 SOLUTION:** 
- **Print GOOG**
- **Print AAPL, GOOG, TSLA** 
- **Print T with two different ways**

```
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]
```

In [48]:
my_list = ["SP500", ["AAPL", "GOOG", "TSLA"], "BTC", "T"]

In [49]:
print(my_list[1][1])

GOOG

In [50]:
print(my_list[1])

['AAPL', 'GOOG', 'TSLA']

In [51]:
print(my_list[3])

T

In [52]:
print(my_list[-1])

T

**MINI CHALLENGE #4 SOLUTION:**
- **Create a dictionary with 3 of your favourite stocks and their prices**

In [53]:
stocks = {"SP500": 3000, 
          "AAPL": 400,
          "TSLA": 2200}
print(stocks)

{'SP500': 3000, 'AAPL': 400, 'TSLA': 2200}

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code that takes an input from a bank client asking him/her about their feedback regarding the service. The code should split the client input into words and print them on screen**

In [90]:
my_string = str(input("What did we do at the bank today? are you satisfied with the service"))
words = my_string.split(" ")
print("Here are the list of words you entered:", words)

What did we do at the bank today? are you satisfied with the serviceVery good service
Here are the list of words you entered: ['Very', 'good', 'service']

**MINI CHALLENGE #6 SOLUTION:**
- **Write a code that prompts a user requesting his/her e-mail and then extracts the user first name (Note that the e-mail is in firstname.lastname@gmail.com**

In [91]:
input_str = input("Welcome to the bank, please enter your e-mail address:")
out_str = input_str.split('@')
out_str = out_str[0].split('.')
print(out_str[0])

Welcome to the bank, please enter your e-mail address:firstname.lastname@gmail.com
firstname

**MINI CHALLENGE #7 SOLUTION:**
- **Define a tuple with your first name, last name, age and the number of stocks in your portfolio. Find the length and type as well.**

In [92]:
my_tuple = ("Ryan", "ahmed", 25, 10)
print(my_tuple)

('Ryan', 'ahmed', 25, 10)

In [93]:
len(my_tuple)

4

In [94]:
type(my_tuple)

tuple

**MINI CHALLENGE #8 SOLUTION:**
- **Remove the duplicates from the following list:**


```
my_list = ['GOOG', 'APPL', 'T','TSLA','T','AAPL', 5, 6,5]
```

In [96]:
my_list = ['GOOG', 'AAPL', 'T','TSLA','T','AAPL', 5, 6, 5]
out_list = list(set(my_list))
print(out_list)

[5, 6, 'TSLA', 'T', 'AAPL', 'GOOG']