<a href="https://colab.research.google.com/github/LinaSachuk/The-Complete-Python-and-Machine-Learning-for-Financial-Analysis/blob/master/5_Python_101_Functions_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. BUILT-IN FUNCTIONS

In [2]:
# There are many built-in functions that you can leverage directly 
# Let's define 2 lists x and y

x = [4, 5, 1, 2, 8, 5]
y = list(range(1,7))

In [3]:
x

[4, 5, 1, 2, 8, 5]

In [4]:
y

[1, 2, 3, 4, 5, 6]

In [5]:
# Let's obtain the length of y

len(y)

6

In [6]:
# Let's obtain the minimum value 

min(x)

1

In [7]:
# Let's obtain the maximum value

max(x)

8

In [8]:
# Let's create a tuple out of the list

z = tuple(x)

In [9]:
z

(4, 5, 1, 2, 8, 5)

In [10]:
type(z)

tuple

In [11]:
# Let's obtain the sum of elements in x

sum(x)

25

**MINI CHALLENGE #1:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [12]:
x = [-1, -4, -7]
y = [-3, 7, 4]


z = abs(sum(x+y))
z

4

# 2. FUNCTIONS

In [13]:
# Let's define a function named "my_function" that does not receive any arguments
# The function simply prints out content and does not return anything

def my_function():
  print("Hello world!")

In [14]:
# Function call

my_function()

Hello world!

In [15]:
# Define a function that takes in argument x and return the squared value 

def squared(x):
  return x**2

In [16]:
# Call the function

squared(5)

25

In [17]:
# Define a function with default value 

def squared(x = 3):
  return x ** 2

squared()

9

In [18]:
# If you pass an argument to the function, it overwrites the default value 

squared(9)

81

**MINI CHALLENGE #2:** 
- **Write a code that takes in two inputs (number of shares and prices) from the user and calculate the total account balance**

In [19]:

def total(units, price):
  amount = units * price
  return amount

In [20]:
number_of_shares = int(input('Enter the number of shares: '))
price = int(input('Enter the price'))

total(number_of_shares, price)

ValueError: invalid literal for int() with base 10: ''

# 3. LAMBDA EXPRESSIONS

In [ ]:
# Lambda function is used to create a function without a name 
# Lambda functions are mainly used with filter() and map() [they will be discussed later on]. 
# Lambda function can receive any number of arguments, but can only have one expression.

In [ ]:
# let's see how to create a basic function that squares the input

def my_function(x):
  return x**2

In [ ]:
# Function call

my_function(3)

9

In [ ]:
# We can do the same task using Lambda expression
# Note that there is no function name

y = lambda x: x**2

In [ ]:
y(5)

25

In [ ]:
# Note that lambda expression can take in more than one argument 
# there is only one expression that could be performed

def summation(x,y,z):
  return x+y+z

In [ ]:
summation(1,2,3)

6

In [ ]:
result = lambda x,y,z: x+y+z

In [ ]:
result(1,2,3)

6

**MINI CHALLENGE #3:**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
result = lambda units, price: units * price

number_of_shares = int(input('Enter the number of shares: '))
price = int(input('Enter the price'))

result(number_of_shares, price)

Enter the number of shares: 34
Enter the price200

6800

# 4. MAP

In [ ]:
# The map() function takes in a function and a list.
# map() performs an operation on the entire list and return the results in a new list.
# Define two lists a and b

a = [1, 2, 3, 4, 5]
b = [1, 7, 9, 13, 6]

In [ ]:
# Let's define a function that adds two elements together

def summation(a, b):
  return a+b

In [ ]:
# You can now use map() to apply a function to the entire list and generate a new list

c = list(map(summation, a, b))
c

[2, 9, 12, 17, 11]

In [ ]:
# map could be used with Lambda as follows
# lambda function is an anonymous function that take any number of arguments and can only have one expression

input_list = [1, 2, 3, 4]

out_list = list(map(lambda x: x ** 2, input_list))
out_list

[1, 4, 9, 16]

**MINI CHALLENGE #4:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [34]:
cubed = lambda x: x**3

index = -10
integers_list = []
for i in range(21):
    integers_list.append(index)
    index += 1

new_integers_list = list(map(cubed, integers_list))
print(new_integers_list)

[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# 5. FILTER

In [27]:
# filter is used to create a list of elements for which a function returns "True".

prices = [34, 36, 105, 598, 553, 225, 900]
prices

[34, 36, 105, 598, 553, 225, 900]

In [35]:
# return only even numbers

out = list(filter( lambda x: (x % 2 == 0), prices))
out

[34, 36, 598, 900]

In [36]:
# Return prices that are greater than or equal 100

out = list( filter( lambda x: (x >= 100), prices))
out

[105, 598, 553, 225, 900]

In [66]:
# Return age between 200 and 250

out = list( filter( lambda x: (x >= 200 and x<=250), prices))
out

[225]

**MINI CHALLENGE #5:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [69]:
min = int(input('Enter a number (lower bound) *must be negative* '))
max = int(input("Enter a number (upper bound) "))

my_list = range(min, max)
my_list

even_grater_than_zero = list( filter( lambda x: (x>0 and x%2 == 0), my_list))
even_grater_than_zero

Enter a number (lower bound) *must be negative* -12
Enter a number (upper bound) 6

[2, 4]

# MINI CHALLENGE SOLUTIONS

**MINI CHALLENGE #1 SOLUTION:**
- **Write a code that takes in 2 lists x = [-1 -4 -7] and y = [-3 7 4] and  calculates the absolute sum of all its elements |x+y|**

In [ ]:
x = [-1, -4, -7]
y = [-3, 7, 4]
z = abs(sum(x+y))
z

4

**MINI CHALLENGE #2: SOLUTION** 
- **Write a code that takes in two inputs (number of units and prices) from the user and calculate the total account balance**

In [ ]:
def total(units, price):
    amount = units * price
    return(amount)

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))
account_balance = total(num_shares, price)

print('Total account balance = {}'.format(account_balance))

Enter the number of shares: 80
Enter the price per share: 5
Total account balance = 400

**MINI CHALLENGE #3 SOLUTION**
- **Repeat mini challenge #2 (Write a code that takes in two inputs from the user and calculates the total) using lambda expressions instead**

In [ ]:
num_shares = int(input("Enter the number of shares: "))
price = int(input("Enter the price per share: "))

account_balance = lambda num_shares, price : num_shares * price
print('Total = {}'.format(account_balance(num_shares, price)))

Enter the number of shares: 80
Enter the price per share: 5
Total = 400

**MINI CHALLENGE #4 SOLUTION:**
- **Write a function that takes an argument and return its cubic value**
- **Define a list of integers ranging from -10 to 10** 
- **Apply the function to the entire list and generate a new output list**

In [ ]:
def cubic(x):
    return (x*x*x)

numbers = range(-10, 11)
numbers_cubed = list(map(lambda x: cubic(x), numbers))
print(list(numbers))
print(numbers_cubed)

**MINI CHALLENGE #5 SOLUTION:**
- **Write a code from the user that takes in a range (upper and lower bounds) and returns a list of positive and even numbers only**

In [ ]:
min = int(input("Enter a number (lower bound) *must be negative* : "))
max = int(input("Enter a number (Upper bound:) "))

numbers = range(min, max)
even_greater_than_zero = list(filter(lambda x: (x > 0 and x%2 == 0), numbers))
print(even_greater_than_zero)